<a href="https://colab.research.google.com/github/ShrishteeSingh/Shri/blob/master/Letter_data_SVM_OCR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
import pandas as pd

from sklearn.model_selection import train_test_split

In [0]:
from sklearn import svm

In [0]:
import matplotlib.pyplot as plt

In [0]:
letters_df = pd.read_csv("letterdata.csv")

letters_df.describe().transpose()   # This is useless in this problem case. So avoid...

In [0]:
letters_df.head(10)   # all fields except the target ("letter") are numeric. We do not know the scale. So normalize

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [0]:
#clf = svm.SVC(gamma=0.025, C=10)    
clf = svm.SVC()    
# gamma is a measure of influence of a data point. It is inverse of distance of influence. C is complexity of the model
# lower C value creates simple hyper surface while higher C creates complex surface

In [0]:
X,y = np.array(letters_df)[ :, 1:16], np.array(letters_df.letter)[:]   # note for y, extracting all rows of "letter" col

In [0]:
#X_train = X[:16000, :]
#X_test = X[16001: , :]
#y_train = y[:16000]
#y_test = y[16001:]



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [0]:
clf.fit(X_train , y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
clf.score(X_test, y_test)

0.96

In [0]:
pd.crosstab(y_test, y_pred)

col_0,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
row_0,,,,,,,,,,,,,,,,,,,,,
A,151,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
B,0,132,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,1,0,0
C,0,0,137,0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
D,0,1,0,163,0,0,0,2,0,0,...,0,1,0,0,0,0,0,0,0,0
E,0,1,1,0,138,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,4
F,0,0,0,0,3,145,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
G,1,1,0,2,1,0,156,0,0,0,...,1,0,0,0,0,0,1,0,0,0
H,0,1,0,7,1,0,2,132,0,1,...,0,3,0,0,0,0,0,0,0,0
I,0,0,0,1,0,4,0,0,154,6,...,0,0,0,0,0,0,0,0,0,0
J,0,1,0,0,0,0,0,0,3,143,...,0,0,0,0,0,0,0,0,0,0
K,0,0,0,1,0,0,0,5,0,0,...,0,2,0,0,0,0,0,1,0,0
L,0,1,0,0,0,0,1,2,0,0,...,1,0,1,0,0,0,0,4,0,0
M,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
N,0,1,0,0,0,0,0,3,0,0,...,0,1,0,0,0,2,0,0,0,0
O,0,1,1,0,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,0,0
P,0,1,0,0,0,6,0,1,0,0,...,1,2,0,0,0,0,0,0,0,0
Q,1,0,0,1,0,0,0,0,0,0,...,163,0,0,0,1,0,0,0,1,0
R,1,1,0,0,0,0,0,0,0,0,...,0,157,0,0,0,0,0,0,0,0
S,1,0,0,0,1,1,0,0,0,0,...,0,0,157,0,0,0,0,0,0,1
T,0,0,0,2,1,0,0,0,0,0,...,0,0,0,147,0,0,0,0,1,0
U,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,166,0,0,0,0,0
V,0,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,133,0,0,0,0
W,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,137,0,0,0
X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,157,0,0
Y,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,142,0
Z,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,155